<h2 class="text-gray-200 text-center uppercase text-2xl">Searches</h2>
<hr class="mt-2.5">

<ul class="my-2.5 flex flex-wrap md:flex-nowrap md:flex-col gap-4 justify-evenly md:justify-start">

  <li
    routerLink=""
    [routerLinkActiveOptions]="{exact: true}"
    routerLinkActive="active"
    class="noselect p-2 bg-purple-400 rounded-md text-center text-purple-800 font-bold cursor-pointer"
  >
    By Country
  </li>
  <li
    routerLink="capital"
    routerLinkActive="active"
    class="noselect p-2 bg-purple-400 rounded-md text-center text-purple-800 font-bold cursor-pointer"
  >
    By Capital
  </li>
  <li
  routerLink="region"
  routerLinkActive="active"
  class="noselect p-2 bg-purple-400 rounded-md text-center text-purple-800 font-bold cursor-pointer"
  >
  By Region
  </li>
  <li
  routerLink="regional-bloc"
  routerLinkActive="active"
  class="noselect p-2 bg-purple-400 rounded-md text-center text-purple-800 font-bold cursor-pointer"
  >
  By Regional Bloc
  </li>
</ul>
